{% extends 'base.html' %}

{% block title %}Home - Personal Blog{% endblock %}

{% block content %}
<div class="home-page">
    <h1>Personal Blog</h1>
    
    <div class="articles-list">
        {% if articles %}
            {% for article in articles %}
                <div class="article-item">
                    <span class="article-title"><a href="{{ url_for('article', article_id=article.id) }}">{{ article.title }}</a></span>
                    <span class="article-date">{{ article.date }}</span>
                </div>
            {% endfor %}
        {% else %}
            <p>No articles yet. Check back soon!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
